body {
    font-family: helvetica, sans-serif;
    width: 350px;
}

label {
    font-weight: bold;  
}

div {
    padding-bottom: 20px;
    background-color: rgba(10, 5, 25, 20);
}

input[type="text"] {
    padding: 5px;
    width: 150px;
}

p {
    background: #96559e;
    color: #230c04;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgb(57, 11, 51);
    padding: 10px;
    visibility: hidden;
}