body {
    font-family: helvetica, sans-serif;
    width: 350px;
  }

  label {
    font-weight: bold;  
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: skyblue;
    border-radius: 8px;
    border: 5px outset blue; 
    color: #131224;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    visibility: hidden;
  }
