body {
    font-family: arial, sans-serif;
    width: 350px;
}

label {
    font-weight: bold;  
}

div {
    padding-bottom: 20px;
}

input {
    padding: 5px;
    width: 150px;
}

p {
    background: skyblue;
    border-radius: 8px;
    color: #304759;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    visibility: hidden;
}
